[Unit]
Description= Bot Service
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/
ExecStart=/opt/.venv/bin/python3 /opt//bot.py
User=

[Install]
WantedBy=multi-user.target